.bg-image1 {
    background-image: url(img/parallax.jpeg);
    height: 100%;
    /* The parallax moving effect */
    background-attachment: fixed;
    position:              relative;
    background-repeat:     no-repeat;
    background-size:       cover;
}